:root {
    /* Primary Colors */
    --primary-color: #B4182D; /* Buttons, CTAs, and Highlights */
    --secondary-color: #FDA481; /* Hover states and accents */
  
    /* Background Colors */
    --primary-bg: #181A2F; /* Main background */
    --secondary-bg: #242E49; /* Section or secondary background */
    --tertiary-bg: #37415C; /* Cards or containers */
  
    /* Borders */
    --border-dark: #54162B; /* Subtle dark border */
    --border-light: #FDA481; /* Light border for hover */
  
    /* Text Colors */
    --text-light: #F5F5F5; /* Light text for dark backgrounds */
    --text-dark: #121212; /* Dark text for light backgrounds */
    --text-muted: #909293; /* Muted text for subtitles or descriptions */
    --text-accent: #FDA481; /* Accent text for highlights or links */
  
    /* Accent Color */
    --accent-color: #54162B; /* Borders, separators, and small icons */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.section:nth-child(even) {
    background-color: var(--primary-bg);
    color: var(--text-light);
}

.section:nth-child(odd) {
    background-color: var(--secondary-bg);
    color: var(--text-light);
}

nav {
    position: fixed;
    width: 100%;
    background-color: var(--primary-bg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
}

nav li {
    height: 50px;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--text-dark);
    transition: 0.3s ease;
}



.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--primary-bg);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: right 0.3s ease;
}

.sidebar li {
    width: 100%;
}

.sidebar svg {
    position: absolute;
    right: 30px;
}


.sidebar li:hover,
.sidebar a:hover {
    color: var(--dark-text-color);
    background-color: var(--light-bg-color);
}

.sidebar a {
    width: 100%;
    color: var(--text-light);
}


.menu-button {
    display: none;
}

@media(max-width: 900px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: flex;
    }
    .sidebar {
        height: fit-content;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 50%;
        height: 100%;
    }
}